.header {
  background-color: #333;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-left {
  flex: 1;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.header a:hover {
  color: #ff7f50;
  text-decoration: underline;
}

.small-link {
  font-size: 1rem;
}

.settings-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.settings-button:hover {
  color: #ff7f50;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-center,
  .header-right {
    display: none;
  }

  .header.open .header-center,
  .header.open .header-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .header a {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}
